<server description="Help2000">
    <featureManager>
        <feature>webProfile-8.0</feature>

        <feature>localConnector-1.0</feature>
    </featureManager>

    <applicationMonitor updateTrigger="mbean"/>

    <webApplication location="help2000.war" contextRoot="/"/>

    <!-- Declare the jar files for MySql access through JDBC -->
    <library id="MySqlLib">
        <fileset dir="${server.config.dir}" includes="*.jar"/>
    </library>

    <dataSource jndiName="jdbc/help2000DS">
        <jdbcDriver libraryRef="MySqlLib"/>
        <properties databaseName="help2000"
                    serverName="db"
                    portNumber="${env.MYSQL_PORT}"
                    user="${env.MYSQL_USER}"
                    password="${env.MYSQL_PASSWORD}"/>
    </dataSource>

    <variable name="env.HTTP_PORT" defaultValue="9080" />
    <variable name="env.HTTPS_PORT" defaultValue="9443" />

    <httpEndpoint host="*" httpPort="${env.HTTP_PORT}"
                  httpsPort="${env.HTTPS_PORT}" id="defaultHttpEndpoint"/>

</server>
