<server description="Help2000">
    <featureManager>
        <feature>webProfile-8.0</feature>
    </featureManager>

    <webApplication location="help2000.war" contextRoot="/">

        <!-- Declare the jar files for MySql access through JDBC -->
        <library id="MySqlLib">
            <fileset dir="${server.config.dir}" includes="*.jar"/>
        </library>

        <dataSource jndiName="jdbc/help2000DS">
            <jdbcDriver libraryRef="MySqlLib"/>
            <properties databaseName="help2000"
                        serverName="localhost"
                        portNumber="${env.MYSQL_PORT}"
                        user="${env.MYSQL_USER}"
                        password="${env.MYSQL_PASSWORD}"/>
        </dataSource>

    </webApplication>

    <httpEndpoint host="*" httpPort="${env.HTTP_PORT}"
                  httpsPort="${env.HTTPS_PORT}" id="defaultHttpEndpoint"/>

</server>
