@use 'colors' as *;

.my_profile {
  margin-left: 20px;
  margin-right: 20px;
  .txt-username,
  .txt-email{
    text-align: center;
  }
  .txt-username{
    font-size: 34px;
    font-weight: bold;
    color: $main-color;
  }
  .my-questions{
    .title{
      color: $main-color;
      font-size: 20px;
    }
  }
  .fragment-profile {
    padding: 20px;
    background-color: $body-lighter-color;
  }
}